<h4>Create Employee</h4>
<hr>
Fill out the form below to create a new employee.<br><br>
<%= form_with(model: employee) do |form| %>
<div class="row">
  <div class="col-6">
    <label class="form-label">First Name:</label>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>
  <div class="col-6">
    <label class="form-label">Last Name:</label>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>
  <div class="col-6">
    <label class="form-label">PIN:</label>
    <%= form.text_field :PIN, class:"form-control" %>
  </div>
  <div class="col-6">
    <br>
    <%= form.check_box :is_admin, class:"form-check-input" %>
    <label class="form-check-label">Admin</label>
  </div>
  <div class="col-6">
    <br>
    <%= submit_tag "Create Employee", class:"btn btn-primary" %>
  </div>
</div>
<% end %>