<h4>Create Customer</h4>
<hr>
Fill out the form below to create a new customer.<br><br>
<%= form_with(model: customer) do |form| %>
<div class="row">
<div class="col-6">
<label class="form-label">Customer Number:</label>
<%= form.text_field :customer_number, class:"form-control" %>
</div>
<div class="col-6">
<label class="form-label">Full Name:</label>
<%= form.text_field :name, class:"form-control" %>
</div>
<div class="col-6">
<label class="form-label">Phone Number:</label>
<%= form.text_field :phone_number, class:"form-control" %>
</div>
<div class="col-6">
<label class="form-label">CO:</label>
<%= form.text_field :co, class:"form-control" %>
</div>
<div class="col-6">
<label class="form-label">Mailing Address:</label>
<%= form.text_field :address, class:"form-control" %>
</div>
<div class="col-6">
<label class="form-label">Physical Address:</label>
<%= form.text_field :phys_address, class:"form-control" %>
</div>
<div class="col-6">
<label class="form-label">Employee / Director:</label>
<%= form.select(:empdir, [['Employee','E'],['Director','D']],{}, { :class => 'form-control'}) %>
</div>
<div class="col-6">
<label class="form-label">Dinner Count:</label>
<%= form.number_field :actual_dinner_count, class:"form-control" %>
</div>
<div class="col-6">

<%= form.check_box :registered, class:"form-check-input" %>
<label class="form-label">Registered</label>
</div>
<div class="col-6">

<%= form.check_box :checked_in, class:"form-check-input" %>
<label class="form-label">Checked-In</label>
</div>
<div class="col-6">

<%= form.check_box :registered_at_event, class:"form-check-input" %>
<label class="form-label">Registered at Event</label>
</div>
<div class="col-6">

<%= form.check_box :voted, class:"form-check-input" %>
<label class="form-label">Voted</label>
</div>
<div class="col-6">

<%= submit_tag "Create Customer", class:"btn btn-primary" %>
</div>
</div>
<% end %>
