<h1 class="display-4">Admin Dashboard</h1>
<br>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordion">
          <%= render "static_pages/upload_customers_modal" %>
          <%= render "static_pages/upload_registrations_modal" %>
          <%= render "static_pages/export_attendance_modal" %>
          <%= render "static_pages/new_customer_modal", customer: @customer %>
          <%= render "static_pages/new_employee_modal", employee: @employee %>
          <%= render "static_pages/view_employees_modal" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <% if notice %>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-success alert-dismissible" role="alert">
            <%= notice %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-6 p-3">
        <div class="card">
          <h5 class="card-header">Total RSVPs</h5>
          <div class="card-body">
            <h1 id="stat_rsvp"><%= total_rsvp %></h1>
          </div>
        </div>
      </div>
      <div class="col-6 p-3">
        <div class="card">
          <h5 class="card-header">Total Checked-In Customers</h5>
          <div class="card-body">
            <h1 id="stat_checked_in"><%= total_checkins %></h1>
          </div>
        </div>
      </div>
      <div class="col-6 p-3">
        <div class="card">
          <h5 class="card-header">Total Walk-Ins</h5>
          <div class="card-body">
            <h1 id="stat_walk_ins"><%= total_walkins %></h1>
          </div>
        </div>
      </div>
      <div class="col-6 p-3">
        <div class="card">
          <h5 class="card-header">Checked-In Percentage</h5>
          <div class="card-body">
            <h1 id="stat_percentage"><%= checked_in_percentage %>%</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="clearfix">
  <div class="row clearfix">
    <div class="col-12">
      <h4>Recent Check-Ins:</h4>
      <% if total_checkins > 0 %>
        <%= render "static_pages/recent_checkins_modal" %>
      <% else %>
        <h6>No customers have checked-in yet!</h5>
      <% end %>
    </div>
  </div>
</div>
<br><br>