<%= render "static_pages/upload_customers_modal" %>
<%= render "static_pages/new_customer_modal", customer: @customer %>
<%= render "static_pages/new_employee_modal", employee: @employee %>
<%= render "static_pages/export_attendance_modal" %>
<%= render "static_pages/recent_checkins_modal" %>
<%= render "static_pages/view_employees_modal" %>
<h1 class="display-4">Admin Functions</h1>
<div class="row">
  <div class="col-4 gy-5">
    <a data-bs-toggle="modal" data-bs-target="#uploadcustomers">
      <div class="card p-3">
        <h3>Upload Customers</h3>
      </div>
    </a>
  </div>
  <div class="col-4 gy-5">
    <a data-bs-toggle="modal" data-bs-target="#exportattendance">
      <div class="card p-3">
        <h3>Export Attendance</h3>
      </div>
    </a>
  </div>
  <div class="col-4 gy-5">
    <a data-bs-toggle="modal" data-bs-target="#recentcheckins">
      <div class="card p-3">
        <h3>Recent Check-Ins</h3>
      </div>
    </a>
  </div>
  <div class="col-4 gy-5">
    <a data-bs-toggle="modal" data-bs-target="#newcustomer">
      <div class="card p-3">
        <h3>Create Customer</h3>
      </div>
    </a>
  </div>
  <div class="col-4 gy-5">
    <a data-bs-toggle="modal" data-bs-target="#newemployee">
      <div class="card p-3">
        <h3>Create Employee</h3>
      </div>
    </a>
  </div>
  <div class="col-4 gy-5">
    <a data-bs-toggle="modal" data-bs-target="#viewemployees">
      <div class="card p-3">
        <h3>View Employees</h3>
      </div>
    </a>
  </div>
</div>
