<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer number:</strong>
    <%= customer.customer_number %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= customer.barcode %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= customer.phone_number %>
  </p>

</div>
