<div class="col-4 gy-2" id="<%= dom_id customer %>">
    <div class="card p-3">
      <h5 class="card-title"><%= customer.name %><% if customer.is_employee %> - (Employee)<% end %><% if customer.is_director %> - (Director)<% end %></h5>
      <p class="card-text">
          <% if customer.registered %>
            <span class="badge bg-success">RSVP</span>
            <% if customer.checked_in %>
              <span class="badge bg-success">Checked-In</span>
            <% end %>
          <% else %>
            <span class="badge bg-secondary">No RSVP</span>
            <% if customer.checked_in %>
              <span class="badge bg-success">Checked-In</span>
            <% end %>
          <% end %>
          <% if customer.voted %>
            <span class="badge bg-info text-dark">Voted</span>
          <% else %>
            <span class="badge bg-secondary">Not Voted</span>
          <% end %>
          <br>
          <br>
          <b>Address:</b> <%= customer.address %><br>
          <b>Physical Address:</b> <%= customer.phys_address %><br>
          <b>Phone Number:</b> <%= customer.phone_number %><br>
          <b>Account Number:</b> <%= customer.customer_number %><br>
          <% if customer.checked_in %>
            <b>Dinner Count:</b> <%= customer.actual_dinner_count %>
          <% else %>
            <% if customer.registered %>
              <b>Dinner Count:</b> <%= customer.dinner_count %>
            <% else %>
              <b>Dinner Count:</b> 0
            <% end %>
          <% end %>
          <% if customer.registered %>
              <% if !customer.checked_in %>
                <hr>
                <%= form_with(model: customer, data: { turbo_frame: "customers" }) do |form| %>
                  <%= form.hidden_field :checked_in, value: 1 %>
                  <div class="form-group">
                    <label>Dinner Count:</label>
                    <%= form.number_field :actual_dinner_count, class:"form-control", :required => true, value: customer.dinner_count %>
                  </div>
                  <br>
                  <div class="d-grid gap-2">
                    <%= form.submit "Check-In", class:"btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
          <% else %>
            <% if !customer.checked_in %>
              <hr>
              <%= form_with(model: customer, data: { turbo_frame: "customers" }) do |form| %>
                <%= form.hidden_field :registered_at_event, value: 1 %>
                <%= form.hidden_field :checked_in, value: 1 %>
                <div class="form-group">
                  <label>Dinner Count:</label>
                  <%= form.number_field :actual_dinner_count, class:"form-control", :required => true, value: 0 %>
                </div>
                <br>
                <div class="d-grid gap-2">
                  <%= form.submit "Register & Check-In", class:"btn btn-secondary" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% if current_admin %>
            <hr>
            <div class="d-grid">
              <%= link_to "Edit", edit_customer_path(customer), class: "btn btn-danger", data: { turbo: false } %>
            </div>
          <% end %>
      </p>
    </div>
</div>
