<div class="col-4" id="<%= dom_id customer %>">
    <div class="card p-3">
      <h5 class="card-title"><%= customer.name %></h5>
      <p class="card-text">
          <% if customer.registered %>
            <span class="badge bg-success">Registered</span>
            <% if customer.checked_in %>
              <span class="badge bg-success">Checked-In</span>
            <% end %>
          <% else %>
            <span class="badge bg-secondary">Not Registered</span>
          <% end %>
          <% if customer.voted %>
            <span class="badge bg-info text-dark">Voted</span>
          <% else %>
            <span class="badge bg-secondary">Not Voted</span>
          <% end %>
          <br>
          <br>
          <b>Address:</b> <%= customer.address %><br>
          <b>Physical Address:</b> <%= customer.phys_address %></br>
          <b>Phone Number:</b> <%= customer.phone_number %><br>
          <b>Customer Number:</b> <%= customer. customer_number %></br>
          <% if customer.registered %>
            <b>Dinner Count:</b> <%= customer.dinner_count %>
              <% if !customer.checked_in %>
                <div class="d-grid gap-2">
                  <hr>
                  <%= form_with(model: customer) do |form| %>
                    <%= form.hidden_field :checked_in, value: 1 %>
                    <%= form.submit "Check-In", class:"btn btn-primary btn-lg" %>
                  <% end %>
                </div>
              <% end %>
          <% else %>
            <hr>
            <div class="form-group">
              <%= form_with(model: customer) do |form| %>
                <%= form.hidden_field :registered, value: 1 %>
                <%= form.hidden_field :registered_at_event, value: 1 %>
                <div class="form-group">
                  <label>Dinner Count:</label>
                  <%= form.number_field :dinner_count, class:"form-control", :required => true %>
                </div>
                <br>
                <%= form.submit "Register Now", class:"btn btn-secondary btn-lg" %>
              <% end %>
            </div>
          <% end %>
      </p>
    </div>
</div>
