<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div class="row">
      <div class="col-12">
        <div class="card p-3">
          <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
          <ul>
            <% customer.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="card p-3">
      <div class="row">
        <div class="col-6">
          <%= form.label :customer_number, class:"form-label" %>
          <%= form.text_field :customer_number, class:"form-control" %>
        </div>
        <div class="col-6">
          <%= form.label :name, class:"form-label" %>
          <%= form.text_field :name, class:"form-control" %>
        </div>
        <div class="col-6">
          <%= form.label "CO", class:"form-label" %>
          <%= form.text_field :co, class:"form-control" %>
        </div>
        <div class="col-6">
          <%= form.label :phone_number, class:"form-label" %>
          <%= form.text_field :phone_number, class:"form-control" %>
        </div>
        <div class="col-6">
          <%= form.label "Mailing Address", class:"form-label" %>
          <%= form.text_field :address, class:"form-control" %>
        </div>
        <div class="col-6">
          <%= form.label "Physical Address", class:"form-label" %>
          <%= form.text_field :phys_address, class:"form-control" %>
        </div>
        <div class="col-6">
          <label class="form-label">Employee / Director:</label>
          <%= form.select(:empdir, [['',nil],['Employee','E'],['Director','D']],{}, { :class => 'form-control'}) %>
        </div>
        <div class="col-6">
          <%= form.label "Registered Dinner Count", class:"form-label" %>
          <%= form.number_field :dinner_count, class:"form-control" %>
        </div>
        <div class="col-6">
          <%= form.label "Actual Dinner Count", class:"form-label" %>
          <%= form.number_field :actual_dinner_count, class:"form-control" %>
        </div>
        <div class="col-12">
              <hr>
        </div>
        <div class="col-6">
          <%= form.check_box :registered, class:"form-check-input" %>
          <%= form.label :registered, class:"form-check-label" %>
        </div>
        <div class="col-6">
          <%= form.check_box :checked_in, class:"form-check-input" %>
          <%= form.label :checked_in, class:"form-check-label" %>
        </div>
        <div class="col-6">
          <%= form.check_box :registered_at_event, class:"form-check-input" %>
          <%= form.label :registered_at_event, class:"form-check-label" %>
        </div>
        <div class="col-12">
          <hr>
        </div>
        <div class="col-12">
          <%= form.submit "Save", class:"btn btn-primary float-end" %>
        </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
