<div class="row justify-content-center">
  <div class="col-8">
    <h1 class="display-6 text-center"><%= Setting.event_name %> Check-In</h1>
  </div>
</div>
<br>
<div class="clearfix">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Scan customer's bar code or search by the customer's street number.</h5><br>
          <%= form_with url: "/lookup", method: :get, data: { turbo_frame: "customers" } do |form| %>
            <div class="input-group">
              <%= form.text_field :search, class: "form-control form-control-lg", aria: { describedby: 'search-addon' } %>
              <%= form.submit "Search", class:"btn btn-lg btn-primary", id:"search-addon" %>
            </div>
          <% end %>
        </div>
      </div>
    </div
  </div>
</div>
<%= render "customers", customers: @customers %>
